<article>
    <header>
        <h1>150th Year of the discovery of Christian Science</h1>
    </header>

    <h2>The Great Discovery</h2>

    <p>"It was in Massachusetts, in February, 1866, ... that I discovered the Science of divine metaphysical healing which I afterwards named Christian Science."
        <br/><i>Retrospection and Introspection</i> p 24
    </p>

    <h2>Mrs Eddy's Place</h2>

    <p>The Position of The Mother Church as to Mary Baker Eddy's place in the fulfilment of Bible prophecy is clearly set forth in the following paragraphs.  These conclusions are not new; they are confirmed by our Leader's writings, and the steadily unfolding fruitage of Christian Science bears witness to their truth.</p>

    <ol>
        <li>Mrs Eddy, as the Discoverer and Founder of Christian Science, understood herself to be the one chosen of God to bring the promised Comforter to the world, and therefore, the revelator of Christ, Truth, in this age.</li>
        <li>Mrs Eddy regarded portions of Revelation (that is, Chapter 12) as pointing to her as the one who fulfilled prophecy by giving the full and final revelation of Truth; her work thus being complementary to that of Christ Jesus.</li>
        <li>As Christ Jesus exemplified the fatherhood of God, she (Mrs Eddy) revealed God's motherhood; she represents in this age the spiritual idea of God typified by the woman in the Apocalypse.  (See Science and Health 565:13-22.)</li>
        <li>Mrs Eddy considered herself to be the "God-appointed" and "God-anointed" messenger to this age, the woman chosen by God to discover the Science of Christian healing and to interpret it to mankind; she is so closely related to Christian Science that a true sense of her is essential to the understanding of Christian Science; in other words, the revelator cannot be separated from the revelation.</li>
        <li>This recognition of her true status enabled her to withstand the opposition directed against her by "the dragon" (malicious animal magnetism); she was touchingly grateful to those who saw her as the woman of prophecy and who therefore trusted, obeyed, and supported her in her mission.</li>
        <li>This same recognition is equally vital to our movement, for demonstration is the result of vision; the collecting of this indisputable evidence of our Leader's own view of herself and of her mission marks a great step forward; wisely utilized, this evidence will stimulate and stabilize the growth of Christian Scientists today and in succeeding generations; it will establish unity in the Field with regard to the vital question of our Leader's relation to Scriptural prophecy.</li>
    </ol>

    <p>As we record these important facts, we remind Christian Scientists of our Leader's words (Miscellaneous Writings, p 308), "The Scriptures and Christian Science reveal 'the way', and personal revelators will take their proper place in history, but will not be deified."</p>

    <p><i>Christian Science Journal</i>   July 1943   Editorial Section</p>

</article>