<article class="deed">
	<header>
		<h1>1906 Deed of Trust</h1>
		<p class="documentLocation">Suffolk Deed Lib. 3178, Fol 551</p>
	</header>

	<p>THIS INDENTURE made this 19th day of December in the year one thousand nine hundred and six, between Mary Baker G. Eddy, of Concord, in the county of Merrimack and State of New Hampshire, of the first part, and Ira O. Knapp, Joseph Armstrong and William B. Johnson, all of Boston, in the county of Suffolk, Stephen A Chase, of Fall River in the County of Bristol, and Archibald McLellan, of Brookline, in the County of Norfolk, and all in the Commonwealth of Massachusetts, at present constituting the <mark>Christian Science Board of Directors, a body corporate duly existing under the provisions of the thirty-seventh chapter of the Revised Laws of said Commonwealth and especially of the first section thereof, of the second part.</mark></p>

	<p>WITNESSETH:</p>

	<p>THAT WHEREAS the said party of the first part  by her deed dated September 1, 1892, and recorded with Suffolk Deeds, Lib. 2081, page 257, conveyed to Ira O. Knapp and others, thereby constituted the Christian Science Board of Directors, a certain lot of land containing seventy-eight hundred and twenty-eight (7828) square feet situate at the corner of Falmouth Street and Norway Street (formerly called Caledonia Street) in said Boston, said conveyance being therein stated to be made subject to certain trusts and conditions in said deed set forth, providing among other things for the erection upon said lot of a suitable and convenient church edifice and for the maintenance therein of regular preaching, reading or speaking on each Sabbath; which said edifice was duly completed on said lot and public worship was therein maintained in accordance with the requirements of said deed;</p>

	<p>AND WHEREAS a new church edifice has lately been erected on adjoining land, and it becomes appropriate that public worship should hence forth be maintained in said new edifice in accordance with the doctrines of Christian Science, and it is probable that weekly services will cease to be held with regularity in the original edifice;</p>

	<p>AND WHEREAS the said deed contains further provisions, trusts and conditions;</p>

	<p>AND WHEREAS the said party of the first part while hereby re-affirming all the trusts and agreements in said deed contained except as herein modified, desires also and hereby provides that no event or contingency mentioned in said deed or deemed to occur or arise upon any construction thereof, shall require a reconveyance of said lot of land or of said edifice to her or to her heirs of assigns, and that no breach of any of said trusts or conditions and no omission or neglect on the part of said Directors to comply with any of the trusts or conditions contained in said deed shall operate by law or otherwise to revert the title, legal or equitable, of said lot or edifice in her or in her heirs or assigns, or to cause or give rise to any forfeiture of any grant made by said deed, and that in no event shall the said title revert to her or her heirs or assigns;</p>

	<p>AND WHEREAS she desires also to remove all other doubts which except for this indenture might arise in regard to the construction of said deed dated September 1, 1892;</p>

	<p>NOW THEREFORE, it is hereby agreed by and between the said party of the first part and the said parties of the second part, that the provisions contained in said deed shall be henceforth construed not as technical conditions or as involving a possible forfeiture of the grants made by said deed dated September 1, 1892, but only as trusts and agreements to be duly observed so far as consistent with present or future circumstances or as required for the welfare of The First Church of Christ, Scientist, and among other things that the regular preaching, reading or speaking in said original edifice on each Sabbath provided for in said deed shall be no longer required.</p>

	<p><mark>And it is further agreed that said original church edifice and the lot upon which it stands, being the lot described in said deed, shall not be sold nor shall said Board of Directors or their successors allow its use for any other purpose or purposes than those of reading, instruction, worship and service, in accordance with the doctrines of genuine Christian Science.</mark></p>

	<p>And the said party of the first part, in consideration of the premises and of one dollar to her paid by said parties of the second part, the receipt whereof is hereby acknowledged, doth hereby remise, release and forever quitclaim unto the said parties of the second part, and their heirs, successors and assigns, the land described in said deed, with the buildings thereon, but subject to the trusts in said deed contained, except as herein modified.</p>

	<p>TO HAVE AND TO HOLD the above released premises to the said Ira O. Knapp, Joseph Armstrong, William B. Johnson, Stephen A. Chase and Archibald McLellan, at present constituting the Christian Science Board of Directors as aforesaid, their heirs, successors and assigns, to their own use and behoof forever, but subject to the said trusts except as herein modified.</p>

	<p>IN WITNESS WHEREOF, the parties hereto have hereunto set their hands and seal on the day and year first above written, said parties of the second part having adopted no particular form of seal as a corporation.</p>

	<p>Mary Baker G. Eddy and a seal.</p>

	<p>State of New Hampshire.  Merrimack ss.</p>

	<p>December 19th, 1906.</p>

	<p>Then personally appeared the above-named Mary Baker G. Eddy and acknowledged the foregoing instrument to be her free act and deed, before me,</p>

	<p>Josiah E. Fernald</p>

	<p>Notary Public and his notarial seal</p>

	<p>December 20, 1906 at three o’clock and thirty-eight minutes P.M.</p>

	<p>Received, Entered and Examined,</p>

	<p>J.M.A. Fitzgerald Reg</p>

</article>