<article class="deed">

	<header>
		<h1>1908 Supplementary Property Trust Deed</h1>
		<p class="documentLocation">Supplementary Trust Deed, Mary Baker G. Eddy, of Concord, New Hampshire, to Henry M. Baker, Archibald McLellan and Josiah E. Fernald, Trustees,</p>
	</header>

	<p>WHEREAS I, MARY BAKER G. EDDY, of Concord, New Hampshire, on the sixth day of March A.D.
		1907, by my deed of that date duly executed and delivered, granted, conveyed, assigned and
		transferred to Henry M. Baker, of Bow, New Hampshire, Archibald McLellan of Boston,
		Massachusetts, and Josiah E. Fernald, of Concord, New Hampshire, and to their heirs,
		successors and assigns, all my interest of every kind and description in and to any real estate
		wherever situated; also all my interest of every kind and description in and to any estate,
		personal or mixed, which I then owned or possessed; but in trust, nevertheless, for the
		purposes and upon the conditions set forth in said deed, and said deed was duly recorded in
		Merrimack County, New Hampshire Registry of Deeds, Volume 371, page 549, also in Norfolk
		County Registry of Deeds, at Dedham, Massachusetts, volume 1050, pages 521 and 523, and
		also in Suffolk County Registry of Deeds, at Boston, Massachusetts, liber 3201, page 82; and</p>

	<p>WHEREAS, on the twenty-eighth day of October A.D. 1907, Robert P Walker and his wife,
		Gertrude S. Walker, of Chicago, Illinois, executed and delivered to me a warranty deed of three
		parcels of land situated in that part of Newton in the County of Middlesex and Commonwealth
		of Massachusetts called Chestnut Hill, and bounded and described in said Walker deed to me,
		which is to be recorded herewith and to which reference may be had, the first two parcels of
		land described in said deed having been conveyed to said Walker by Caroline H. Lawrence et
		als. by deed recorded in Middlesex South District Deeds under date of October 28, 1907, and
		the third parcel having been conveyed to said Walker by the Trustees of the Hammond Real
		Estate Trust by deed duly recorded in said Middlesex South District Deeds under date of
		October 28, 1907; and</p>

	<p>WHEREAS, on the sixteenth day of December A.D. 1907, said Robert P. Walker and wife
		executed and delivered to me a quitclaim deed of another parcel of real estate, adjoining the
		foregoing land, situated in that part of Newton in the County of Middlesex and said
		Commonwealth called Chestnut Hill, and bounded and described in said Walker deed to me,
		which is to be recorded in said Middlesex South District Deeds and to which reference may be
		had, said parcel having been conveyed to said Walker by Samuel Woodman by deed dated
		December 16, 1907, also recorded in said Middlesex South District Deeds, reference to which
		deed of Samuel Woodman to Robert P. Walker and deed of Robert P. Walker to me may be had
		for more particular description; and</p>

	<p>WHEREAS, since the execution of my said trust deed of March 6, 1907, I have purchased and
		otherwise acquired furniture of various kinds, paintings, ornaments, and other articles of use
		and adornment now being in and about my present residence in Newton, Massachusetts; and</p>

	<p>WHEREAS I desire that all the above described real estate conveyed to me by said Walker and
		all said furniture, paintings, ornaments, and other articles of use and adornment so acquired
		shall be conveyed to and held by said trustees upon the same trusts and conditions as the real
		estate conveyed by me to them as trustees in said trust deed of March 6, 1907;</p>

	<p>NOW, THEREFORE, for the purposes aforesaid, Know all Men by these Presents That I, Mary
		Baker G. Eddy, of Concord, New Hampshire, now temporarily residing in Newton,
		Massachusetts, in consideration of one dollar to me paid by Henry M. Baker, of Bow, New
		Hampshire, Archibald McLellan, of Boston, Massachusetts, and Josiah E. Fernald, of Concord,
		New Hampshire do hereby grant, and convey unto the said Henry M. Baker, Archibald McLellan
		and Josiah E. Fernald, their heirs, successors and assigns, <br/>

		<ol>
			<li>All my interest of every kind and description in and to the above described real estate in
				that part of Newton, Massachusetts, called Chestnut Hill conveyed to me by said Robert
				P. Walker and his wife by the foregoing deeds;</li>
			<li><mark>All my interest of every kind and description in and to any real estate where ever
				situated;</mark> and</li>
			<li>All my said furniture, paintings, ornaments, and other articles of use and adornment as
				acquired since March 6, 1907, but I reserve to myself the use of all said furniture,
				paintings, ornaments, and other articles of use and adornment so long as I may care to
				use the same.</li>
		</ol>
	</p>

	<p>TO HAVE AND TO HOLD the above granted premises with all the privileges and appurtenances
		thereto belonging unto the said Henry M. Baker, Archibald McLellan and Josiah E. Fernald,
		trustees, to them and their heirs, successors and assigns, but in trust, nevertheless, for the
		purposes and upon the conditions set forth in articles first, second, third, fourth, fifth, sixth,
		seventh, eighth, ninth, and tenth in my trust deed of March 6, A.D. 1907, to said Henry M.
		Baker, Archibald McLellan, and Josiah E. Fernald, trustees, and reference to said deed of March
		6, 1907, may be had for a particular statement of said purposes and conditions.</p>

	<p>IN WITNESS THEREOF I have hereunto set my hand and seal this sixth day of May A.D, 1908.</p>

	<p>Mary Baker Eddy                        seal</p>

	<br/>
	<br/>
	<br/>

	<p>Signed, sealed and delivered in the presence of</p>

	<p>Robert R. Bishop,</p>

	<p>Samuel J. Elder</p>

	<p>Commonwealth of Massachusetts, Middlesex, [99]</p>

	<p>On this sixth day of May 1908, personally appeared the above named Mary Baker G. Eddy and
		acknowledged the foregoing instrument to be her free act and deed,
		Before me, Leon M. Abott, Notary Public (Notarial Seal)
		Boston, Mass, May 11 th 1908.</p>

	<p>We, Henry M. Baker, Archibald McLellan and Josiah E. Fernald, severally accept the foregoing
		trust and agree to perform the same according to the conditions and terms thereof; but we
		severally reserve the right to resign said trust.</p>

	<p>Henry M. Baker</p>

	<p>Archibald McLellan</p>

	<p>Josiah E Fernald, Trustees</p>

	<p>Middlesex [99]</p>

	<p>May 11, 1908</p>

	<p>3h.55m. P.M.</p>

	<p>Rec’d and Recorded</p>

</article>