<article>

	<header>

		<h1>1913 Court Appointment of Trustees u/w Mary Baker Eddy</h1>

		<hr>

	</header>

	<p>In the court of probate at Concord, NH, Oct. 18, Judge Charles R Corning appointed trustees to
		administer the trust created by the will of the Discoverer and Founder of Christian Science, the
		Rev. Mary Baker Eddy, in accordance with the decision of the supreme court of New Hampshire
		on Oct. 7. They are the members of the Board of Directors of The First Church of Christ,
		Scientist, in Boston, The Mother Church: Archibald McLellan, Allison V Stewart, John V
		Dittemore, Adam H Dickey, and James A Neal, and the administrator de bonis non of the estate,
		Josiah E Fernald. The text of the order follows:-</p>

	<p>State of New Hampshire, Court of Probate <br>
		Merrimack, SS</p>

	<p>The judge of probate for said county, to Archibald McLellan, Allison V Stewart, John V
		Dittemore, Adam H Dickey, and James A Neal, all of Brookline, in the country of Norfolk and
		Commonwealth of Massachusetts, and Josiah E Fernald of Concord, in said county of
		Merrimack.</p>

	<p>Whereas, at a special court of probate holden at Concord, in said county, on the 14 th day of
		December, AD 1910, the original instrument was duly proved and allowed as the last will and
		testament of Mary Baker G Eddy, late of Concord, in said county, deceased;
		And whereas the said Mary Baker G Eddy, in and by her said will, gave, decreed, and devised to
		The First Church of Christ, Scientist, in Boston, Massachusetts, certain property and estates in
		trust for the purpose of more effectually promoting and extending the religion of Christian
		Science as taught by her, the said Mary Baker G Eddy, and for other incidental purposes as set
		forth in said will;</p>

	<p>Therefore, I do hereby allow and authorize you to take possession of and hold said trust estate
		agreeably to the tenor and intent of said will. And you are hereby required to make, or cause
		to be made, and filed in the probate office for said county, a true inventory of all the real
		estate, goods, chattels, rights, credits, and effects so derived and bequeathed, within three
		months from the date hereof; to render annually to said judge an account of the income and
		profits thereof; and at the expiration of said trust, to adjust and settle your accounts with said
		judge, and pay and deliver over all balances, money, and property with which you have been
		intrusted, pursuant to the order and decree of said judge; and in all respects faithfully to
		execute said trust according to the true intent and meaning of said estate.</p>

	<p>In testimony whereof I have hereunto set my hand, and the seal of the court of probate for said
		county, this sixteenth day of October, A.D. 1913</p>

	<p>Charles R Corning, Judge of Probate</p>

	<p>A true copy. Attest: Eugene Keeler, Register of Probate
		On Oct. 7 the decision came on an application made to the supreme court of New Hampshire
		by Mr Fernald for instructions regarding the action he was to take as administrator de bonis non
		of the estate of Mrs Eddy, and the court ordered Mr Fernald to hold the estate until the
		appointment of a trustee or trustees by the probate court. The appointment of trustees ends
		the litigation regarding the will of Mrs Eddy and the disposition of the property left by her to
		The First Church of Christ, Scientist, The Mother Church in Boston, in trust for the promotion
		and extension of the religion of Christian Science as taught by her.
		It is expected that Mr Fernald will immediately file his account, and after the formalities, which
		will take a month or two, the trustees will take possession under the trust provision of the will.
		The trustees have qualified and have given bond for one million dollars for the faithful
		performance of their trust.</p>

	<p>THE CHRISTIAN SCIENCE SENTINEL</p>

	<p>25 October 1913, p 147</p>

</article>