<article>
	<header>

		<h1>1914 Declaration of Purpose of Clause 8 Trust u/w Mary Baker Eddy</h1>

		<hr>

	</header>

	<p>Mr Neal, Chairman of the Trustees under the will of Mrs Eddy, read the following statement:
		The Trustees under the will of Mary Baker Eddy, whose appointment and confirmation by the
		courts of New Hampshire took place a few months ago, have received substantially all of the
		property, the income of which Mrs Eddy in her will provided should be used for “more
		effectually promoting and extending the religion of Christian Science as taught by” her. In
		addition to this general provision named in her will, her trustees are especially fortunate in the
		possession of documents more specifically indicating the channels through which to accomplish
		the purposes intended. Final plans have not yet been perfected, but the principal lines of
		activity will be as follows:</p>

	<ol>
		<li> To contribute toward the expense of lectures given by Christian Science organizations
			outside the United States, Canada, and Great Britain.</li>
		<li>To contribute toward the ever-increasing distribution of authorized Christian Science
			literature throughout the world.</li>
		<li>To contribute toward the establishment and maintenance of circulating or lending
			libraries of authorized Christian Science literature in connection with Christian Science
			churches, societies, reading rooms and Sunday schools.</li>
		<li>To assist, in so far as is possible and practicable, in building Christian Science church
			edifices.</li>
	</ol>

	<p>The Trustees are now engaged in obtaining information which will enable them to work out
		detailed plans for the furtherance of these objects. When these plans are more definitely
		formulated, further information will be given to the field.</p>

	<p>CHRISTIAN SCIENCE SENTINEL</p>

	<p>20 June 1914, p 825</p>

</article>