<article>

	<header class="centered">
		<p>THE STATE OF NEW HAMPSHIRE</p>

		<p>7th CIRCUIT COURT - PROBATE DIVISION - DOVER</p>

		<p>TRUST DOCKET</p>

		<p>IN RE: TRUST OF MARY BAKER EDDY CLAUSE VI<br>
		IN RE: TRUST OF MARY BAKER EDDY CLAUSE VIII</p>

		<p>317-1910-TU-00001</p>

		<p>DIRECTOR OF CHARITABLE TRUSTS' OBJECTION TO TRUSTEES' ACCOUNT</p>

		<hr>
	</header>

	<p>NOW COMES the Attorney General, Director of Charitable Trusts, and objects in part to the Accounts dated September - 2016 filed by Trustees of the Trust under the Will of Mary Baker Eddy Clause VI and Clause VIII. In support of this objection, the Director states as follows:</p>

	<ol>
		<li>The Director of Charitable Trusts exercises all the common law and statutory rights, duties, and powers of the Attorney General in connection with the supervision, administration and enforcement of charitable trusts, charitable solicitations, and charitable sales promotions pursuant to RSA 7:19 - 7:32-l and has the duty to see that the rights of the public in a charitable trust are protected and properly executed.  See Attorney General v. Rochester Trust Company et. al., 115 N.H. 74 (1975).</li>

		<li>The Director is conducting a review of matters relating to the Clause VIII Trust.  The Court acknowledged this review in its order with clerk's notice dated April 28, 2016.  That review is still ongoing.</li>

		<li>In the course of the review, the Director examined prior orders of this Court going back decades with respect to the administration of these trust.  Some of those prior orders are pertinent to the annual accounts filed by the Trustees and should be addressed as part of the Court's review of the current pending account.</li>

		<li>Specifically, this Court's August 23, 2001 order, attached hereto, permitted the trustees to pool its investments with the investments of the First Church of Christ, Scientist of Boston, Massachusetts ("the Mother Church") in an entity known as the Christian Science Trusts for Gifts and Endowments.  The order also stated that "the Trustees will continue to have independent audits of the Christian Science Trusts for Gifts and Endowments performed annually."</li>

		<li>The 2009 account reveals that the Christian Science Trusts for Gifts and Endowments was liquidated and the proceeds place[d] with TMC General Investment Pool.  The Director does not find evidence the Trustees sought approval from this Court to amend the 2001 court order to change the entity holding the assets of the Clause VI and Clause VIII Trusts.  The pending account also states that TMC General Investment Pool holds the assets.</li>

		<li>In addition, since 2003, the Trustees have not filed the required audited financial statements with their account.  Since 2003, the financial statements have been internally prepared by persons affiliated with TMC which is not consistent with the court's order.  The Director finds no evidence the Trustees sought approval from this Court to amend a term of the 2001 court order to eliminate the independent audit requirement.  It should be noted the financial statement accompanying the pending account is not audited.</li>

		<li>The financial statement accompanying the pending account states in footnote 1 that the Clause VI and Clause VIII Trusts are "subsidiaries" of TMC.  That description is incorrect.  The statement classifies, in footnotes 1 and 6, the assets of the Clause VIII Trusts as "unrestricted" when they should be classified as "permanently restricted".  Specifically, paragraph 6 of this Court's September 14, 1993 order, attached, states that "the Trustees shall not invade … the principal of the Trust without the prior approval of the Probate Court of Merrimack County…"  Moreover, the financial statement states in footnote 6 that the Massachusetts version of the Uniform Prudent Management of Institutional Funds Act applies to the Clause VI and Clause VIII Trusts, which is an incorrect cite, given that these are New Hampshire trusts and are therefore subject to New Hampshire law.</li>

		<li>Based upon the foregoing, the Director objects to the pending account of the Clause VI and Clause VIII Trusts.  The Director continues to review other matters relating to these Trusts independent of the account.</li>

		<li>WHEREFORE, the State of New Hampshire respectfully requests that this Court:
			<ol type="a">
				<li>Schedule a hearing on the allowance of the account;</li>
				<li>Disallow the account until the Trustees either file an account that conforms to the 2001 order or until the Court grants a motion to amend the terms of the 2001 order; and</li>
				<li>Grant such further relief as may be deemed just and proper</li>
			</ol>
		</li>
	</ol>


	<p>Respectfully submitted,</p>

	<p>ATTORNEY GENERAL, <br>
	DIRECTOR OF CHARITABLE TRUSTS</p>

	<p>By his attorneys,</p>

	<p>JOSEPH A. FOSTER <br>
	ATTORNEY GENERAL</p>

	<p>Date: October 25, 2016</p>

	<hr>

	<p>Thomas J. Donovan, NH Bar #664 <br>
	Director of Charitable Trusts <br>
	33 Capitol Street <br>
	Concord, NH  03301-6397 <br>
	(603) 271-3591</p>

	<hr>

	<a href="/assets/2016-10-25-tom-donovan.pdf">View scan of the original document</a>

</article>