<article>
    <header>
        <h1>THE BANNER</h1>
        <p>Vol 28  No 2 (2015)</p>

        <p>Andrew W. Hartsook, Editor</p>
    </header>

    <h2>MARYFRANCES  CASSELL  CS</h2>

    <p>"The lives of great men and women are miracles of patience and perseverance."  (Miscellaneous Writings 340:26 by Mary Baker Eddy)  Maryfrances Cassell passed on peacefully on 6th of December 2014, in her 94th year.  Her father was a very fine practitioner - an instantaneous healer.  Maryfrances was tutored by lecturers including Professor Hermann S. Hering and Dr John M. Tutt who admired her father and visited her home.  She attended the Paris Conservatory of Music at age sixteen and only reluctantly returned home in 1940 after the outbreak of World War II.  She then studied the violin at the Juilliard School in New York.  She joined The Mother Church in 1941.  She toured the United States and Mexico giving solo recitals and later opened her own studio.  Later she was a licensed realtor and auditor.  Her primary class teacher was L. Ivimy Gwalter.  For many years she had monthly meetings with her and developed a remarkable understanding of Mrs Eddy's teaching.</p>

    <h2>Letter to the Board</h2>

    <p>On November 17, 2004, a "Celebration of Life" ceremony was held in The Mother Church extension to remember the victims of homicide.  President of The Mother Church, Cynthia Neely, turned the edifice over to the Louis D. Brown Peace Institute.  After each statement by seven speakers, a candle was lit.  A choir from Unity Tabernacle sang a spiritual with rap overtones.  After the remarks, three of the speakers marched down the aisle holding tall, lighted candles in front of them out onto the plaza where everyone, including the Christian Science Board of Directors, placed floating candles on the reflecting pool.  The next Sunday, the First Reader reportedly said, "We sure had a great time last Wednesday with the homicide victims," and then invited people to use the donation envelopes in the seat racks to contribute to the Louis D. Brown Peace Institute.  (See Winter 2005 Banner)</p>

    <p>Mary Baker Eddy states in her September 1, 1892, Deed of Trust, "Said Board of Directors shall not allow or permit in said church building any preaching or other religious services which shall not be consonant and in strict harmony with the doctrines and practice of Christian Science as taught and explained by Mary Baker G. Eddy …"  (See Church Manual, page 131)</p>

    <p>In obedience to Article I, Section 9, of the Manual, Maryfrances Cassell informed the Directors of the failure of President Cynthia Neely and of the Directors themselves, to obey Mrs Eddy's clear requirements of church officers to comply with her deeds of trust and the by-laws.  After correspondence and court initiatives, Maryfrances Cassell was excommunicated from The Mother Church on February 8, 2007, for alleged lack of Christliness and for working against the Cause.</p>

    <h2>Complaint Filed</h2>

    <p>Three years later in 2010, Maryfrances Cassell filed a complaint against the Christian Science Board of Directors in the Probate & Family Court in Suffolk County, Massachusetts, declaring the Directors to be ultra vires (in excess of legal power or authority) by violating the terms of Mrs Eddy's deeds of trust and the Church Manual.  The complaint enumerated a long list of violations.  In addition Miss Cassell's complaint asked that her Mother Church membership be restored since she actually was being punished for obeying the Manual.</p>

    <p>Miss Cassell had attended every Annual Meeting since 1972.  She attended a workshop anonymously in 2010, but Director Tom Black spotted her and called the Boston police.  She was led out of the Sunday School building in full view of everyone with uniformed police officers on each arm who led her across the street and left her on the sidewalk.  She was then in her 89th year.</p>

    <p>Ultimately, Miss Cassell's case was dismissed by the Massachusetts court which ruled that her complaint was frivolous, that she had no standing, that the courts had no subject matter jurisdiction (because the church was falsely characterized as a public charitable trust), and that only the Attorney General could oversee such trusts.  In more than one hundred years, the Attorney General has declined to intervene.</p>

    <h2>The Secret of Victory</h2>

    <p>As Mrs Eddy writes, "Experience is victor, never the vanquished; and out of defeat comes the secret of victory."  (Mis. 339:6)</p>

    <p>While Maryfrances Cassell's case was unsuccessful in the Massachusetts courts – as all previous attempts by others have been – a series of vital facts emerged.  It was discovered by Miss Cassell's attorney that the courts' assumption that all churches are either hierarchical or congregational was wrong.</p>

    <p>The 1871 U.S. Supreme Court case, Watson v. Jones declared that there is a third basis for forming a church: a deed of trust.  After dissolving the first church organization in 1889, Mrs Eddy relied exclusively on private deeds of trust to establish her current church organization and publishing society.  Instead of being regarded as incidental, minor pieces of paper work, the deeds of trust are now understood to be vital documents.</p>

    <h2>Hidden Deeds</h2>

    <p>It was discovered by Michael Ritchie of Scotland that all of Mrs Eddy's deeds of trust after March 20, 1903, were inaccessible.  Through his efforts, the 1904, 1905, and 1906 deeds were brought to light.  There is a strong indication that the hiding of these deeds was deliberate.  Why?  In a filing with the court dated March 6, 2012, the Directors declared that "[T]here is nothing in Mrs Eddy's 1892 deed that incorporates the Church Manual…  In sum, there is simply no colourable basis in fact to suggest that the Church Manual imposes any legally enforceable trust obligations upon the Board, either in general or specifically with regard to church discipline …  [T]here is no colourable basis in fact to support the incorporation of the Church Manual in any of Mrs Eddy's deeds of trust." (Emphasis added).  Read pages 136-138 of the Church Manual to see that the last statement is a barefaced lie.</p>

    <p>With these newly revealed facts and false representations in hand, a new legal effort will be instituted in Mrs Eddy's home state of New Hampshire.  It was there that she filed every one of her deeds and where the state courts have declared that any legal dispute regarding New Hampshire deeds should originate.</p>

    <h2>Dirty Tricks</h2>

    <p>During the years of litigation, Maryfrances Cassell was subject to a series of efforts to stop her.  Telephone scammers "Curtis" and "Teresa" called her incessantly and managed to access her bank accounts.  She had to change her telephone number more than a dozen times.  Adult Protective Services came to her home more than once to try to prove that she was mentally incompetent.  On February 20, 2012, an anonymous tip was telephoned to the local police stating that she was hiding illegal drugs in her home.  The police came, searched her house, and found nothing.  A former Trappist monk, who was a constant fixture in the branch church were Miss Cassell attended, disappeared immediately from the scene as soon as her court case was concluded.  The monk is a good friend of Nathan Talbot.  (See September 2011 Christian Science Journal, page 32.)  Maryfrances Cassell rose above it all.  "Well done, good and faithful servant;" (Matt. 25:23)</p>

    <p>Andrew Hartsook <br/>
        2040 Hazel Avenue <br/>
        Zanesville, Ohio 43701-2222</p>

</article>