<article>
    <header>
        <h1>THE BANNER</h1>
        <p>Vol 30 No 1 2016</p>

        <p>Andrew W. Hartsook, Editor</p>
    </header>

    <h2>CONTINUING SUBMISSIONS TO NEW HAMPSHIRE DIRECTOR OF CHARITABLE TRUSTS</h2>

    <p>Recent letters on behalf of the Board of Directors insist that certain documents submitted be regarded as confidential attorney-client privilege communications and that financial information submitted be regarded as confidential and not subject to disclosure.</p>

    <p>Letters on behalf of the unnamed members of The Mother Church counter that the Right-to-Know Law specifies that such claims must be determined objectively. It was noted that the Board of Directors previously claimed that the monies received and spent have been for public and charitable purposes, and, therefore, could hardly be considered as private or proprietary. The Director of Charitable Trusts of New Hampshire will make a ruling.</p>

    <p>Regarding the decision by the trustees (Board of Directors) not to seek a successor sixth trustee of the Clause VIII Trust following the passing of Josiah E. Fernald in 1949, the Directors cited their wish at that time that no sixth trustee by appointed. They included a copy of a letter from the Probate Court of Merrimack County, New Hampshire, dated August 10, 1949, stating that no successor 6 th trustee was necessary. Ignored by the Directors is the fact that Mrs Eddy wanted a sixth trustee to act as administrator to oversee and monitor Clause VIII of her will. Josiah E. Fernald was named administrator in 1913. As quoted in the Spring 2016 Banner, Mrs Eddy stated, "Mr Fernald, you are a better Christian Scientist than many of my students because you are a better Christian." (MBE: Years of Authority by Robert Peel, p 473)</p>
    
</article>