<section id="donate">
	<h1>Mailing Details</h1>

	<p>Mary Baker Eddy's Church and Deeds Restoration Fund<br/>
		c/- The Law Offices of Foehl & Eyre, PC<br/>
		432 N. Easton Road<br/>
		Glenside, PA  19038</p>

	<p><hr /></p>

	<p>Heartfelt gratitude is expressed for the financial contributions received in support of the legal
		activities show-cased by this website.  This support is so encouraging, immediately effective and
		strengthens our commitment to the Court's and members' full recognition of Mrs Eddy's legacy to her Church.</p>

</section>

<section id="details">

	<p>As members of The Mother Church, The First Church of Christ, Scientist, Boston:

	<ul>
		<li>We acknowledge Mary Baker Eddy as the Discoverer and Founder of Christian Science, and continuing Leader of this church.</li>
		<li>We acknowledge our duty to her - our gratitude and reverence for her life’s work - by scientific proofs of healing and by obedience to the By-Laws of the Church Manual.  Membership binds us to the demonstration of these laws in our lives and church organisations.</li>
		<li>We acknowledge the legal foundation of her church as she established it, through trust deeds, both those in the Church Manual and those more recently obtained through the New Hampshire Court.  The <a href="#/documents/1903-Deed-of-Trust">1903</a>, <a href="#/documents/1904-Deed-of-Trust">1904</a>, <a href="#/documents/1905-Deed-of-Trust">1905</a> and <a href="#/documents/1906-Deed-of-Trust">1906 trusts</a> are the covenants under which her church officers operate and her members, her grantees, secure the eternality of their Leader’s discovery.</li>
		<li>We are the beneficial owners of The Mother Church.  The Board of Directors or Deacons, are those who hold it in trust for us all – they are our fiduciaries.  As such they must abide by Mrs Eddy’s By-Laws and deeds of trust that undergird and define the operations of The Mother Church.</li>
	</ul>

	</p>




	<p>Members of The Mother Church are invited to support this fund for the legal recognition and enforcement of Mrs Eddy’s trust deeds and Manual, and the appointment of five new members of the Board.  Mrs Eddy gave oversight for the proper conduct of her Church to the New Hampshire Court, and it is to this body that members now have recourse, to return the church to its pure purpose and foundation.  Following the successful outcome of this action, residual monies in the fund will be donated to The Mother Church.</p>

	<p>Every member is invited to consider their duties and obligations under the Church Manual and to pray for the restoration of Mary Baker Eddy’s Church (see Man. 102:17).  Our Leader cannot be separated from the ideal she laboured to bring forth, and protect, for the benefit and salvation of all mankind.  Our Leader’s vision and demonstration of divine Truth must not be subordinated to human vagaries, ecumenism, distortion or popularisation on the pretext of ‘spreading the word’.</p>

	<p>“The First Church of Christ, Scientist, in Boston, Mass., is designed to be built on the Rock, Christ; even the understanding and demonstration of divine Truth, Life, and Love, healing and saving the world from sin and death; thus to reflect in some degree the Church Universal and Triumphant.”  Man. 19:1</p>




</section>

