<article>

	<header>
		<h1>Duties of Church Officers.</h1>

		<p class="documentLocation">CHURCH MANUAL OF THE FIRST CHURCH OF CHRIST, SCIENTIST, IN BOSTON, MASS. by Mary Baker Eddy</p>

		<p>Article I, Section 9</p>
	</header>

	<p>Law constitutes government, and disobedience to the laws of The Mother Church must ultimate in annulling its Tenets and By-Laws.  Without a proper system of government and form of action, nations, individuals, and religion are unprotected; hence the necessity of this By-Law and the warning of Holy Writ: “That servant, which knew his lord’s will, and prepared not himself, neither did according to his will, shall be beaten with many stripes.”</p>

	<p>It is the duty of the Christian Science Board of Directors to watch and make sure that the officers of this Church perform the functions of their several offices promptly and well.  If an officer fails to fulfil all the obligations of his office, the Board of Directors shall immediately call a meeting and notify this officer either to resign his place or to perform his office faithfully; then failing to do either, said officer shall be dismissed from this Church, and his dismissal shall be written on the Church records.</p>

	<p>It is the duty of any member of this Church, and especially of one who has been or who is the First Reader of a church, to inform the Board of Directors of the failure of the Committee on Publication or of any other officer in this Church to perform his official duties.  A Director shall not make known the name of the complainant.</p>

	<p>If the Christian Science Board of Directors fails to fulfil the requirements of this By-Law, and a member of this Church or the Pastor Emeritus shall complain thereof to the Clerk and the complaint be found valid, the Directors shall resign their office or perform their functions faithfully.  Failing to do thus, the Pastor Emeritus shall appoint five suitable members of this Church to fill the vacancy.  The salary of the members of the Board of Directors shall be at present two thousand five hundred dollars each annually.</p>

</article>