<article>
	<header class="centered">
		<h1>SUPREME COURT</h1>
		<hr/>
		<p>No 1122</p>
		<hr/>
		<p>MERRIMACK, SS - 1913 TERM</p>
		<p>JOSIAH E FERNALD, ADMINISTRATOR OF MARY BAKER G EDDY</p>
		<p>V</p>
		<p>THE FIRST CHURCH OF CHRIST, SCIENTIST, IN BOSTON, ET AL</p>
		<hr/>
		<p>BRIEF FOR THE STATE</p>
		<hr/>
	</header>

	<p class="centered">STATEMENT OF FACTS</p>
	<p>The case presents a petition by the Administrator with the will annexed of the late Mary Baker G Eddy for instructions as to whether  he may safely and lawfully pay over and deliver to the five directors of The First Church of Christ, Scientist, the whole or any part of the residue of the funds and property now held by him in his trust capacity until such directors have duly qualified as trustees in the Probate Court in the County of Merrimack within whose jurisdiction the funds and property are now held.</p>
	<p>The claim is made that such instructions to the Administrator have become necessary for the reason that the settlement of this estate has been nearly completed and that a demand has been made upon him by these directors for such payment and delivery.  These directors claim authority to make the demand and receive the funds and property under and by virtue of an Act of the Commonwealth of Massachusetts approved February 18, 1913, entitled</p>

	<p class="centered">AN ACT</p>
	<p>To Authorize The First Church of Christ, Scientist, in Boston, to Take and Hold Property Under the Will of Mary Baker G Eddy</p>
	<p>"Section 1.   The First Church of Christ, Scientist, in Boston, is hereby authorized to Take and hold real and personal estate devised and bequeathed to it by the will, duly 	admitted to probate, of its founder, Mary Baker G Eddy, late of Concord, New Hampshire, 	deceased; to be held and administered by its board of directors, subject to the trusts created 	by said will.</p>
	<p>"Section 2.   This act shall take effect upon its passage."</p>
	<P>The position of the State of New Hampshire is that however the Act in question may affect the standing and holding capacity of this Church and these directors as to the property forming a part of this estate in the Commonwealth of Massachusetts, it in no wise affects or changes the standing of the parties or the conditions of the trust in question so far as the State of New Hampshire and the duties of its officers and courts are concerned.</p>

	<p class="centered">STATEMENT OF THE LAW</p>
	<p>The testamentary domicile of the testatrix was New Hampshire.  Her will was duly proven, allowed, and established in the Probate Court of Merricmack County.  The validity of the residuary clause of this will has been tested in and sustained by the Supreme Court of New Hampshire.  The trust as to all of the property in New Hampshire has been assumed by the courts of New Hampshire and they cannot, with any due regard for the wishes of this testatrix and a like regard for the true objects of her bounty, relieve themselves of the sacred obligation thus created.  The trustees, whoever they may be, cannot escape the supervision of the New Hampshire courts – the New Hampshire courts cannot forsake this sacred trust.</p>
	<p>But for the wisdom and the patient toil and research of this Court, this property might already have become scattered to the four winds of Heaven, and the beneficent wishes and plans of this queenly almoner have been forever blasted.</p>
	<hr/>

	<p>Counsel for the Church and these five directors in their brief seem to lay great stress upon the fact that they have obtained the passage of the Act above referred to, as though this accomplishment in some way changed or qualified the terms of this trust; as though an enactment of a Massachusetts Legislature could lay down a rule of action for this Court to follow in a matter where the rights of the parties and the condition of a trust had already become fixed and perpetual.</p>
	<hr/>

	<p>In the face of these observations it is difficult to see how the situation or power of this board of directors is any way changed by the Act referred to so far as the power and duty of this court is concerned with respect to the great charity in question.
	</p>
	<hr/>

	<p>Mrs Eddy was a woman of remarkable business capacity.  She provided, in her will that the executor therein named should be excused from giving any sureties on his official bond.  She did not provide that those acting in behalf of the Church as trustees should be excused from giving a bond.  Having in mind her remarkable intelligence and far-sightedness, this omission is strikingly significant.  It is possible that the Probate Court of Merrimack County may deem this Church, as represented by these five directors, "suitable to execute the trust, but this does not necessarily follow because counsel so state in their brief nor because the Massachusetts Legislature passed the enactment of February 18th, above quoted.  This court fully considered in Glover v Baker, supra, the residuary clause of Mrs Eddy’s will which creates this trust, and, as before quoted, said, -</p>
	<p>"The testatrix intended the trust to be administered by persons professing
		the belief she desired to promote.  Such persons it would be the duty of the
		court to appoint, should occasion arise, or at least none in hostility thereto
		should be permitted to undertake the execution of the trust."</p>
	<p>This language plainly carries with it the implication that it might become the duty of the court "to appoint persons not in hostility to the belief she desired to promote," other than these five directors.  It may be premature to discuss this feature until the question is presented directly in the Probate Court, but the magnitude of the trust is such and the interest of the Christian Scientists in New Hampshire is such that it seems to be our plain duty to urge that the interests of all who may expect to reap the benefit of this charity may be as well protected and the interest of those of New Hampshire may be better protected by the appointment of one or more New Hampshire trustees who either profess, or are not hostile to, the belief she desired to promote, to act in conjunction with these five directors and their successors under such bonds to the Probate Court as may be determined to be reasonable.
	</p>

	<p>
		STATE OF NEW HAMPSHIRE
		<br/>By JAMES P TUTTLE
		<br/>Attorney-General
	</p>

</article>