<section id="homeContent">

	<h1>Important Recent Developments in New Hampshire Court</h1>
	
	<h2>October 2021 - Lodgement of Annual Accounts</h2>
	
	<p>The purpose of the Clause 6 Trust may be <a href="https://mbefund.net/#/will">viewed here</a>.</p>
	
	<p>The purpose of the Clause 8 Trust may be <a href="https://mbefund.net/#/will">viewed here</a>.</p>
	
	<p>This charitable trust financial information is open for public viewing.</p>
	
	<p>The annual audited accounts for the Clause 6 and 8 trusts under the will of Mary Baker Eddy may 
		be <a href="http://mbefund.net/assets/Court.JFR.Letter Enclosing Annual Accounts.10.01.21.pdf"> read here</a>. They were 
		submitted to the New Hampshire Attorney General in October 2021. The beneficiaries for this year may be found on pages 252, 253, 254</p>
	
	<h2>November 2020 - Lodgement of Annual Accounts</h2>
	
	<p>The purpose of the Clause 6 Trust may be <a href="https://mbefund.net/#/will">viewed here</a>.</p>
	
	<p>The purpose of the Clause 8 Trust may be <a href="https://mbefund.net/#/will">viewed here</a>.</p>
	
	<p>This charitable trust financial information is open for public viewing.</p>
	
	<p>The annual audited accounts for the Clause 6 and 8 trusts under the will of Mary Baker Eddy may 
		be <a href="http://mbefund.net/assets/20201029-Trustee's Annual Accounts for year ending 3.31.2020-RBE.pdf">read here</a>.
		They were submitted to the New Hampshire Attorney General in November 2020. The history of the accounts is 
		related on pages 218, 219.</p>
	
	<h2>April - June 2020</h2>
	
	<p>Submissions to the New Hampshire Probate Court to review the non-accounting for the $13.5m, from the sale of the Chestnut Hill home, into the Clause 8 trust.  
		You may read these amicus curiae briefs and the rebuttals here:
		<ul>
			<li><a href="assets/2020 03 03 DCT to Probate Crt re 400 B St.pdf">2020 03 03 - DCT to Probate Court re 400 Beacon St</a></li>
			<li><a href="assets/2020 04 16 DCT rejects appl for amicus 400 B.pdf">2020 04 16 - DCT Rejects Application for Amicus 400 Beacon St</a></li>
			<li><a href="assets/2020 04 Resp to Report of DCT 400 Beacon St.pdf">2020 04 - Response to the Report of DCT 400 Beacon St</a></li>
			<li><a href="assets/2020 05 01 Reply to Obj by DCT.pdf">2020 05 01 - Reply to Objection by DCT</a></li>
			<li><a href="assets/2020 05 01 Reply to Obj by Trustees.pdf">2020 05 01 - Reply to Objection by Trustees</a></li>
			<li><a href="assets/2020 06 04 Judge E Leonard.pdf">2020 06 04 - Judge E Leonard</a></li>
			<li><a href="assets/2020 06 15 Motion Reconsider DCT.pdf">2020 06 15 - Motion to Reconsider to DCT</a></li>
		</ul>
	</p>lauded 
	
	<h2>March 2020</h2>
	
	<p>American Court activities largely suspended due to the pandemic.</p>
	
	<h2>October 31, 2019 - Lodgement of Annual Accounts</h2>

	<p>The purpose of the Clause 6  and 8 Trusts may be read on page 109 of the 116 page report</p>

	<p>This charitable trust financial information is open for public viewing.</p>

	<p>The annual audited accounts for the Clause 6 and 8 trusts under the will of Mary Baker Eddy may 
		be <a href="http://mbefund.net/assets/New Hampshire Annyal Accounts 10.31.2019.pdf">read here</a>.   
		They were submitted to the New Hampshire Attorney General in October 2019.</p>

	<p>Please note that these are the first independently audited accounts to be submitted to the New Hampshire Attorney 
		General since the 1980's.  The correct presentation of accounts is the result of the queries and objections
		submitted by Second Church of Christ, Scientist, Melbourne to the New Hampshire Probate Court  as outlined on this website.</p>

	<h2>September 2019</h2>
	
	<p>The Trustees under the Will of Mary Baker Eddy submitted their audited annual accounts to the Director of Charitable Trusts.  
		Their submission was not made known to interested parties for their review:
		<ul>
			<li>as to whether the sale – and resulting interest on the sale - of Mrs Eddy’s Chestnut Hill home (held under trust) to 
				Longyear Foundation in 2006 would be accounted for within the trust;</li>
			<li>or whether the audit would list the submissions for funds by those promoting Christian Science, as well as the funds 
				that had been paid out.</li>
		</ul>

		The Director of Charitable Trusts accepted the Trustees’ annual accounts.</p>
	
	<h2>June 14, 2019</h2>
	
	<p>The ruling of the New Hampshire Supreme Court on the appeal lodged by Second Church, Melbourne, on January 11, 2019 may be read here, dated June 14, 2019.
		<a href="https://www.courts.state.nh.us/supreme/opinions/2019/index.htm">Read here.</a></p>
	
	<h2>April 12, 2019</h2>

	<p>Objection to Trustees' Petition to Appoint Richard Evans as Trustee of the Clause 6 and Clause 8 Trusts Under the Will of Mary Baker G. Eddy can be
		<a href="http://mbefund.net/assets/Ltr MEK - 7th Circuit-Probate Court 4.12.19 (W7222252x7AC2E).pdf">read here</a></p>

	<p>1948 letter from the Christian Science Board of Directors to Mr Bliss Knapp may be <a href="http://mbefund.net/assets/1984CSBDtoClissKnapp.pdf">read here</a></p>

	<h2>February 14, 2019</h2>

	<p>Live recording of New Hampshire Supreme Court oral arguments (30 minutes) may be <a href="https://livestream.com/NHJB/events/8521573/videos/187342476">viewed here</a>.</p>

	<h2>January 11, 2019</h2>

	<p>The reply brief submitted to the New Hampshire Supreme Court by Second Church, Melbourne, may be <a href="http://mbefund.net/assets/FilingReceiptAndASFILEDReplyBrief.pdf">read here</a>.</p>

	<h2>November 7, 2018</h2>

	<p>The appeal submitted to the New Hampshire Supreme Court may be <a href="http://mbefund.net/assets/AppealFiledToSupremeCourt.pdf">read here</a>.</p>

	<h2>July 17, 2018</h2>

	<p>The New Hampshire Supreme Court accepted the case submitted by Second Church, Melbourne.  This document may be <a href="http://mbefund.net/assets/SupremeCourtOrder-CaseIsAccepted.pdf">read here</a>.</p>

	<h2>June 1, 2018</h2>
	
	<p>An appeal was made by Second Church, Melbourne to have decisions of the Probate Court reviewed by the New Hampshire Supreme Court. Both a Mandatory (<a href="http://mbefund.net/assets/Rule7NoticeOfMandatoryAppeal.pdf">read here</a>) and a Discretionary Appeal (<a href="http://mbefund.net/assets/Rule7NoticeOfDiscretionaryAppeal.pdf">read here</a>) were submitted.</p>
	
    <h2>May 1, 2018</h2>

    <p>This filing notifies presiding Judge King that:
        <ol>
            <li>in 1996, the Court requested an increase in the Performance Bond (established by Mrs Eddy in 1907) from $500,000 to $8 million for clause 8 and from $25,000 to $100,000 for the clause 6 fund.  The Trustees under the will of Mary Baker Eddy erroneously stated that they were the sole beneficiaries as The Christian Science Board of Directors, and that the change was unnecessary.</li>
            <li>there are further issues which constitute breaches of trust and false statements by the Trustees’/Directors’ attorney in misinterpreting the Fernald decision under Attorney General Tuttle (see Trust Deeds and documents).</li>
        </ol>

        This document may be read <a href="http://mbefund.net/assets/MotionToAmendMotionForReconsideration.pdf">here</a>.</p>

	<h2>December 11, 2017</h2>

	<p>Two new documents have been presented to the New Hampshire Court on this date:
		<ol>
			<li>The rebuttal by Second Church of Christ, Scientist, Melbourne of the Trustees' denial of its standing to bring a complaint to the Court.</li>
			<li>The First Amendment exemption for a deeds-based church under Watson v. Jones.</li>
		</ol>
	They may both be <a href="http://mbefund.net/assets/ResponseToTrusteesObjection-2017-12-11.pdf">read here</a>.</p>

	<h2>November 17, 2017</h2>

	<p>Following the non-evidentiary hearing held on November 3, and at the request of Judge
	King in his November 6 ruling, Second Church of Christ, Scientist, Melbourne filed three
	submissions with the Probate Court on November 17.  You may read:
	<ol>
		<li>Memorandum on the First Amendment church autonomy principles <a href="http://mbefund.net/assets/MemorandumOnFirstAmendment.pdf">here</a>;</li>
		<li>Memorandum concerning Second Church’s standing <a href="http://mbefund.net/assets/MemorandumConcerningStanding.pdf">here</a>;</li>
		<li>Motion for the appointment of an independent Trustee <a href="http://mbefund.net/assets/MotionForAppointmentOfIndependentTrustee.pdf">here</a>.</li>
	</ol>
	This work has been done on behalf of our Pastor Emeritus and her Clause 8 Trust
	under her will.</p>

	<h2>September 22, 2017</h2>

	<p>After receiving submissions from Second Church of Christ, Scientist, Melbourne and from the
		Trustees Under the Will of Mary Baker Eddy, Judge David King of the Probate Court issued a
		court order for a non-evidentiary hearing on November 3, 2017.  At this hearing, legal
		standing for Second Church will be discussed, and further arguments from both parties will
		be heard.   Judge King's court order may be read by <a href="http://mbefund.net/assets/nonEvidentiaryHearing-2017-09-22.pdf">clicking HERE</a>.</p>

	<h2>August 4, 2017</h2>

	<p>A 38 page Brief <i>Amicus Curiae</i> was filed with Judge King in opposition to an assented
		motion from the Trustees u/w of Mary Baker Eddy and the Director of Charitable Trusts. 
		The effect of their motion would be to collapse the Clause 8 Trust and move the funds to
		Massachusetts, allowing continued abuse of this sacred Trust.  The attached response
		from Second Church, Melbourne provides the New Hampshire Probate Court with a
		comprehensive outline of the conflicted interests of, and repeated attempts by, Director-
		Trustees since 1913, to use the funds for other than legally binding purposes.  To read
		this latest <i>Amicus Curiae</i>, <a href="assets/AmicusBrief-2017-08-04.pdf">please click here.</a></p>

	<h2>May 9, 2017</h2>

	<p><i>- Explanation of New Hampshire Court decision</i></p>

	<p>For a comprehensive assessment by The Banner of recent New Hampshire court activity, <br> please <a href="/assets/The Banner Vol.30 No.3 Spring 2017.pdf">click here</a>.</p>

	<h2>April 4, 2017</h2>

	<p><i>- Notice of Decision</i></p>

	<p>Considerable progress has been made since the recent New Hampshire Probate Court hearing 20 March 2017. Judge David King of the 6th Circuit Court of New Hampshire (the senior Judge in Trust law in Probate Court) ruled on 4 April 2017 as follows:</p>

	<ul>
		<li>He allowed the Trustees under the Will of Mary Baker Eddy to amend their financial accounts covering the past 13 years, although they were not independently audited; but will require trust funds to be independently audited from now on.</li>
		<li>He confirmed that the Trustees violated the Court Stipulation Order for 2001 by not complying with the Court's requirement to audit trust funds.</li>
		<li>He confirmed the violation by the Trustees of the Court order for their unapproved movement of funds, and required that any future movement of funds be approved by the Probate Court.</li>
		<li>He recognised the embedded conflict of the fiduciary obligations that exist with the Trustees u/w of Mary Baker Eddy, who are also the Board of Directors of The Mother Church, and referred this conflict of interest matter to the Director of Charitable Trusts for further ruling.</li>
		<li>He read, but formally declined to receive the Amicus Curiae brief (submitted by Second Church, Melbourne) on behalf of the Director of Charitable Trusts, as it was not necessary to the hearing; but encouraged Second Church to continue its work in support of the Director of Charitable Trusts.</li>
		<li>To read Judge King’s complete Ruling, please <a href="assets/CourtDecisionOnMotionsToAmend.pdf">click here.</a></li>
	</ul>

	<h2>February 28, 2017</h2>

	<p><i>- Response to Objection by the Trustees Under the Will of Mary Baker Eddy to Second Church of Christ, Scientist, Melbourne filing Brief Amicus Curiae.</i></p>

	<p>The Trustees Under the Will of Mary Baker Eddy, who are also The Christian Science Board of Directors, did not want the New Hampshire Court to see the Brief Amicus Curiae submitted by Second Church of Christ, Scientist, Melbourne, and therefore submitted an Objection.  Second Church, Melbourne immediately responded by submitting its Response to Objection to the court, which can be read by
		<a href="assets/SecondChurchsResponseToTrusteesObjection.pdf">clicking here.</a></p>

	<h2>February 15, 2017</h2>

	<p><i>- Brief Amicus Curiae</i></p>

	<p>This document was submitted to the New Hampshire court by Second Church of Christ, Scientist, Melbourne, on behalf of the New Hampshire Director of Public Charities.  This Brief Amicus Curiae for the first time in history details over one hundred years of attempts to challenge Mary Baker Eddy&#39;s Will and Trust Deeds by the Trustees Under the Will, who are also the Christian Science Board of Directors. You can read the Brief Amicus Curiae by <a href="assets/AmicusBrief.pdf">clicking here.</a></p>

	<p>- Evidence and important legal and historical documentation supporting the Brief Amicus Curiae was also submitted to the court, and can be read by
		<a href="assets/AppendixToAmicusBrief.pdf">clicking here.</a></p>

	<h1>Background</h1>

	<p>A most wonderful work is bearing fruit in this 151st year since the discovery of
		Christian Science by Mary Baker Eddy.</p>
	<p>As background, Trust Deeds from 1903 – 1907, hand-written by court-
		appointed officers and signed by Mrs Eddy, were found in the New Hampshire
		Probate Court archives in 1997 through the work of a Christian Scientist from
		Lothian, Scotland. In 2000, the Documents were sent to Melbourne, Australia
		for further study and transcription. Upon deciphering the tightly hand-written
		documents, they were recognized as the key to our Pastor Emeritus’
		administration of The Mother Church. These Deeds have not been available to
		Christian Science Church members since Mrs. Eddy’s passing, and reveal clear
		instruction to her followers.</p>
	<p>Most importantly, the 1904 Trust Deed specifically states that "Nothing in this
		deed contained shall ever be construed as a waiver or as permitting a
		modification in any degree of any of the trusts" and further "no new tenet or by-
		law shall be adopted, nor any tenet or by-law amended or annulled, by the
		grantees".</p>
	<p>Because of their importance, these Deeds of Trust, upon transcription, were
		immediately made available to the Christian Science Board of Directors in 2002
		as required in Manual Article I, Section 9, and were later published on this web
		site. "It is the duty of any member of this Church, and especially of one who
		has been or who is the First Reader of a church, to inform the Board of Directors
		of the failure of the Committee on Publication <i>or any other officer</i> in this Church
		to perform his official duties." [Emphasis added]</p>
	<p>It is now clear that over the decades, successive Boards of Directors/Trustees under the will, 
	     have been in default of their legal, religious, and fiduciary duties, because they - knowingly 
	     or unknowingly - violated our Leader’s will and Trust Deeds. The current Board of Directors 
	     have continued in these defaults.</p>
	<p>Defaults include, but are not limited to: </p>
	<ul>
		<li>The failure to recognize Mrs Eddy’s instructions in the December 21, 1903
			deed, that they cannot self-appoint; that the Probate Court of New
			Hampshire must ratify and confirm the appointment of the Directors.</li>
		<li>The failure to have the semi-annual accounts of trust funds audited, a
			mandatory requirement in New Hampshire. (Each retiring Trustee is
			individually responsible for the financial record.)</li>
		<li>The failure to carry out and perform all the obligations imposed upon
			them, either as Directors or Trustees.</li>
		<li>Denying the Pastor Emeritus and breaching her Church Manual.</li>
		<li>Since 1949, the Board of Directors has stood as both a beneficiary
			(Clause 6) and Trustee (Clause 8) under Mrs Eddy’s will without the
			oversight of an independent administrator. This is a clear and serious
			conflict of interest, and has resulted, over time, in the corruption of the
			Pastor Emeritus’ Trusts. This has led to a cessation of funding to the field
			for the furtherance of Christian Science, as required under the Clause 8
			Trust in her will. (See "1914 Purpose" under Trust Deeds and Documents
			tab.) This requirement was recognized by the Court and reinstated in 2018.</li>
	</ul>
	<!--<p>Therefore, under specific provisions of (1) Church Manual By-laws, (2) New
		Hampshire Trust law, and (3) the Pastor Emeritus’ Trust Deeds, the current
		Board/Trustees u/w cannot qualify to continue as either Directors or Trustees.</p>-->
	<p>It is our prayer that this matter will revert to the Attorney
		General&#39;s statement of 1913, as can be read on this web site under &quot;Fernald
		Decision&quot;, by clicking the heading <a href="http://mbefund.net/#/documents">Trust Deeds and Documents.</a></p>
	<p>In that statement, the presiding Judge said:</p>
	<blockquote>"The testatrix [Mary Baker Eddy] intended the trust to be administered by
		persons professing the belief she desired to promote. Such persons it
		would be the duty of the court to appoint, should occasion arise, or at least
		none in hostility thereto should be permitted to undertake the execution of
		the trust."</blockquote>
	<blockquote>"This language plainly carries with it the implication that it might become
		the duty of the court ‘to appoint persons not in hostility to the belief she
		desired to promote,’ other than these five directors."</blockquote>
	<p>All Mrs Eddy&#39;s Deeds of Trust are now speaking to the Court, who cannot deny
		her place, her gift, and her rights in her own Church. The demands and
		directions that Mrs Eddy places on the Trustees and Directors, <i>in perpetuity</i>,
		shine a clarifying light on her forever Leadership of her Church as its Pastor
		Emeritus.</p>
	<p>We can now see the &quot;full-orbed promise&quot; of her Church - universal and
		triumphant - in action.</p>
	<p>With love and gratitude to all the dear donors to <i>The Mary Baker Eddy Church
		and Deeds Restoration Fund</i> who are supporting this righteous unfoldment.</p>

	<h1>You are invited to donate to this fund &mdash;</h1>
	<h2>To reinstate Mary Baker Eddy's place, her jurisdiction, her deeds of trust and her by-laws. On the completion of this duty, all residual funds will be donated to her Church.</h2>
	<!--<h2>This fund aims to:</h2>-->

</section>

<section id="homeQuote">
	
	<h2>Statement of purpose</h2>

	<p>The Mary Baker Eddy's Church and Trust Deeds Restoration website is the only communications outlet of the MBE Fund.  We strive to ensure that each document on this website is accurate and that any commentary is governed by evidence and the Golden Rule. We have no other written or spoken voice outside of this website.</p> 

	<p>The sole objective of the MBE Fund is to bring the practical administration of our Leader's New Hampshire Trusts into line with the wishes of our Leader. By presenting ongoing violations of Mary Baker Eddy’s Trusts to the courts of New Hampshire, we are fulfilling our Leader’s expectations of her followers and of the New Hampshire courts. 

	<p>These Trusts are written directives by Mary Baker Eddy and are enforceable under New Hampshire state law as she set them up, with special powers resting with the Chief Justice of the Supreme Court of New Hampshire (as stated in her 1907 Deed of Trust.)</p>
	

	<a class="donate" href="#/donate">Donate to Fund</a>
</p>
	<p class="quote">"Strive it ever so hard, The Church of Christ, Scientist, can never do for its Leader what its Leader has done for this church; but its members can so protect their own thoughts that they are not unwittingly made to deprive their Leader of her rightful place as the revelator to this age of the immortal truths testified to by Jesus and the prophets."</p>

	<p>'The Christian Science Journal', May 1906<br/>
		THE FIRST CHURCH OF CHRIST, SCIENTIST, AND MISCELLANY by Mary Baker Eddy, Foreword page vii</p>

</section>





