


<section id="potsContent">

	<h1>Home Page Imagery</h1>

	<p>“The architect’s plan for this window further included six long lower lights which would come below the line of the gallery.  The six water pots chosen for these places typify the six days of material creation included in the belief that man has a material origin and existence.  They also call to memory the marriage in Cana with its spiritual lessons, teaching that, as mortals empty themselves of error through the understanding of Truth, they are being prepared for union with divine Principle, as shown in Christian Science.”</p>

	<p>BUILDING OF THE MOTHER CHURCH   The First Church of Christ, Scientist in Boston, Massachusetts   by Joseph Armstrong <br/>
	Reprinted 1980   page 46</p>

	<p>John 2: 1-11  “This beginning of miracles did Jesus...”</p>


</section>





<section id="potsImage">

	<img src="styles/images/pots.png" />

</section>