<article>
	<header>
		<h1>Archival Letters</h1>
		<p>[These letters were] written to the Boston Church Directors calling for the publication of the 29th edition of the Manual. This 29th edition was the first to contain the wording of the last estoppel clause on page 105 of the Manual within the context of the Deeds of Trust conveying the land for the use by the Church to erect an extension to the original edifice.</p>
	</header>

	<hr/>

	<p>Pleasant View <br/>
	   Concord, New Hampshire</p>

	<p>March 9,   1903</p>

	<p>Christian Science Board of Directors</p>

	<p>Beloved Students:</p>

	<p>I hereby request that it is named in the deed of land,  that the same inscription which is on the outside of the present church edifice shall be placed on the new church.  Also I request that according to page 108, clause  No. 3 of the old deed, as published in our Manual, you add to the deeds of land the following clause: No new Tenet or By-Law shall be amended or annulled without the written consent of Mary Baker G. Eddy, the author of our textbook, Science and Health with Key to  the Scriptures.</p>

	<p>My dear students, I foresee that if you add to your deed the aforesaid clause ,  it will save you sad experience.  It will tend to keep out of our church disloyal students,  and to preserve the loyalty of those who are members thereof.</p>

	<p>As ever lovingly,</p>

	<p>Mary Baker Eddy</p>

	<hr/>

	<p>M.B.E. <br/>
	   Pleasant  View <br/>
	   Concord, New Hampshire</p>

	<p>August 17, 1903</p>

	<p>Christian Science Board of Directors</p>

	<p>Beloved Students:</p>

	<p>I gave you direct orders to bring out our Manual and not to delay one other day. I know the Manual is right. God tells me to have it published as it is. You have adopted the By-Laws;  now delay no longer to put it in book form.</p>

	<p>Nothing whatever but malicious mortal mind is now causing delay.</p>

	<p>With love,</p>

	<p>Mary Baker G. Eddy</p>

</article>






































