<!--<div data-navigation ng-style="{paddingTop:padding}" ng-class="{fixed:sticky}" class="subnav" ng-controller="PageController">-->

	<!--<ul>-->
		<!--<li ng-repeat="link in introduction" ng-class="{active:($route.current.activetab == link.activetab)}">-->
			<!--<a data-navitem href="{{link.uri}}">{{link.name}}</a>-->
		<!--</li>-->

		<!--<li>Trust Deeds-->
			<!--<ul>-->
				<!--<li ng-repeat="link in trustDeeds" ng-class="{active:($route.current.activetab == link.activetab)}">-->
					<!--<a data-navitem href="{{link.uri}}">{{link.name}}</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</li>-->

		<!--<li>Other Writings by Marry Baker Eddy-->
			<!--<ul>-->
				<!--<li ng-repeat="link in otherWritings" ng-class="{active:($route.current.activetab == link.activetab)}">-->
					<!--<a data-navitem href="{{link.uri}}">{{link.name}}</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</li>-->

		<!--<li>Other-->
			<!--<ul>-->
				<!--<li ng-repeat="link in others" ng-class="{active:($route.current.activetab == link.activetab)}">-->
					<!--<a data-navitem href="{{link.uri}}">{{link.name}}</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</li>-->


	<!--</ul>-->



<!--</div>-->